body{
	font-family: "Cuprum", "Arial", sans-serif;
	min-width:  940px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 24px;
}

.container{
	width: 940px;
	margin: 0 auto;
}

a{
	text-decoration: none;
}

/*main{
	background-color: #ccc;
}*/

.button{
	display: inline-block;
	background-color: #ee3643;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 14px 49px;
	text-transform: uppercase;
}


/*Стилизация Header*/
.header-top{
	background-color: #293449;
	margin-bottom: -11px;
	min-height: 47px; 
}

.header-top-wrapper{
	background-color: #293449;
	display: flex;
	justify-content: space-between;
	
}

.main-header-logo img{
	background-color: #ee3643;
	padding: 12px 55px;
	border-bottom: 5px solid #b52933;
}

.main-header-logo a{
	display: inline-block;
	margin: 0;
}

.main-header-logo img:hover{
	background-color: #ca2c37;
}

.main-header-logo img:focus{
	background-color: #ba2732;
}

.header-top a{
	color: #fff;
	font-size: 17px;
	text-decoration: none;
}



.search,
.bookmark,
.basket,
.place-order {
	position: relative;
	vertical-align: top;
	position: relative;
	font-size: 17px;
	line-height: 18px;
}

.header-top label{
	font-size: 0;
}
.header-top input[type="search"] {
	width: 270px;
	font-size: 17px;
	line-height: 18px;
  margin: 0;
  padding: 0;
	border: none;
  outline: 0;
	padding-left: 48px;
	color: #ffffff;
  background: #293449;
}

/*.search input[type-search]{
	position: absolute;
	content: "";
	font-size: 0;
	background-color: red;
	width: 19px;
	height: 19px;
}

.search::-webkit-input-placeholder{
	font-size: 17px;
  line-height: 18px;
	color: #fff;
}

.search:-moz-placeholder { 
	font-size: 17px;
  line-height: 18px;
	color: #fff;
}*/



.bookmark a,
.basket a{
	display: inline-block;
	width: 150px;
	padding: 12px 0;
	padding-left: 45px;
	box-sizing: border-box;
}

.basket-product a{
	background-color: #ee3643;
}

.bookmark::before{
	position: absolute;
	content: "";
	width: 16px;
	height: 18px;
	background: url(../img/icon-bookmark.svg) no-repeat;
	top: 24%;
	left: 10%;
	opacity: 0.4;
}

.basket::before{
	position: absolute;
	content: "";
	width: 17px;
	height: 17px;
	background: url(../img/icon-cart.svg) no-repeat;
	top: 24%;
	left: 10%;
	opacity: 0.4;
}

.place-order a {
	display: inline-block;
	padding: 12px 0;
	text-align: center;
	background: #63a63e;
	width: 150px;
}

.header-bottom{
	background-color: #f3f7f9;
	padding-bottom: 50px;
	width: 100%;
}

.header-bottom-information{
	width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 22px;
}

.header-description{
	color: #ee3643;
	line-height: 23px;
	font-size: 16px;
	text-align: left;
	font-style: italic;
	width: 200px;
	padding-left: 52px;
	padding-right: 32px;
}

.header-telephone{
	position: relative;
}

.header-telephone a{
	display: inline-block;
	font-size: 21px;
	border: 3px solid #fff;
	color: #ee3643;
	padding: 10px 68px 10px 49px;
	margin: 0;
	margin-bottom: 4px;	
}

.header-telephone p{
	font-size: 14px;
	line-height: 0;
	text-align: center;
	color: #32425c;
	font-weight: normal;
}
.telephone::before{
	content: "";
	width: 20px;
	height: 22px;
	position: absolute;
	background: url(../img/icon-phone.svg) no-repeat;
	top: 21%;
	left: 0;
	margin-left: 13px;
}

.user-navigation{
	position: relative;
	margin: 0;
}
.login::before{
	position: absolute;
	content: "";
	width: 20px;
	height: 19px;
	background: url(../img/icon-login.svg) no-repeat;
	top: 26%;
	left: 16%;
	opacity: 0.3;
}


.user-navigation li{
	list-style-type: none;
	background-color: #fff;
	display: inline-block;
	margin-top: 0;
}

.user-navigation a{
	color: #000;
	display: inline-block;
	font-size: 21px;
	line-height: 21px;
}

.login{
	padding: 10px 24px 10px 47px;
}

.registration{
	padding: 10px 24px;
	margin-left: 10px;
}

.site-navigation {
	background-color: #32425c;
	margin: auto;
	border-bottom: 5px solid	#293449;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.site-navigation li{
	margin-top: 19px;
	margin-bottom: 19px;
	list-style-type: none;

}

.site-navigation a{
	display: inline-block;
	color: #fff;
	font-size: 17px;
	line-height: 17px;
}

/*Верстка контента*/
.visually-hidden{
	display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
}


/*Разметка промо*/
.promo{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-top: 59px;
}


.promo-1,
.promo-2,
.promo-3,
.promo-4,
.promo-5{
	box-sizing: border-box;
	position: relative;
}

.promo-tittle{
	color: #fff;
	line-height: 30px;
	font-size: 24px;
	font-weight: bold;
	padding-left: 22px;
	padding-top: 24px;
	padding-bottom: 13px;
}

.promo-1 a,
.promo-2 a,
.promo-3 a,
.promo-4 a,
.promo-5 a{
	text-align: 	center;	
	display: inline-block;
	color: #fff;
	line-height: 18px;
	font-size: 14px;
	background-color: rgba(0,0,0,0.15);
	border-radius: 2px;
	width: 	135px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-left: 25px;
	margin-bottom: 16px;
	text-transform: uppercase;
}


.promo-1{
	width: 300px;
	margin-bottom: 20px;
	margin-right: 20px;
	background-color: #ffbf47;
}

.promo-1::after{
	content: "";
	position: absolute;
	width: 44px;
	height: 65px;
	background: url(../img/icon-1.svg) no-repeat;
	top: 0;
	left: 71%;
	margin-top: 37px;

}

.promo-2{
	
	width: 300px;
	margin-bottom: 20px;
	background-color: #3bbce3;
}

.promo-2::after{
	content: "";
	position: absolute;
	width: 77px;
	height: 65px;
	background: url(../img/icon-2.svg) no-repeat;
	top: 0;
	left: 65%;
	margin-top: 37px;
}

.promo-3{
	width: 300px;
	margin-bottom: 20px;
	background-color: #dc91d8;
}

.promo-3::after{
	content: "";
	position: absolute;
	width: 80px;
	height: 65px;
	background: url(../img/icon-3.svg) no-repeat;
	top: 0;
	left: 65%;
	margin-top: 37px;
}



.promo-4{
	width: 300px;
	margin-bottom: 20px;
	background-color: #8ed78f;
}

.promo-4::after{
	content: "";
	position: absolute;
	width: 61px;
	height: 80px;
	background: url(../img/icon-4.svg) no-repeat;
	top: 0;
	left: 71%;
	margin-top: 26px;
}

.promo-5{
	width: 300px;
	margin-bottom: 20px;
	background-color: #ffc047;
}

.promo-5::after{
	content: "";
	position: absolute;
	width: 80px;
	height: 65px;
	background: url(../img/icon-5.svg) no-repeat;
	top: 0;
	left: 65%;
	margin-top: 31px;
}

/* Здесь слайдер*/
.slide-1{
	float: left;
	width: 620px;
	background: url(../img/slider1.jpg) no-repeat 0 0;
}

.slide-2{
	float: left;
	width: 620px;
	background: url(../img/slider2.jpg) no-repeat 0 0;
}

.slides-tittle{
	padding-left: 25px;
	font-size: 36px;
	line-height: 6px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

.slides-text{
	padding-left: 25px;
	font-size: 18px;
	line-height: 9px;
	color: #fff;
}

.wrapper-slider{
	min-width: 620px;
	position: relative;
}

.wrapper-slider input[type=radio]{
	display: none;
}

.slider-slides{
	width: 200%;
	position: relative;
}


.slider{
	overflow: hidden;
}

.slider-slides a{
	display: inline-block;
	margin-left: 25px;
	margin-top: 93px;
	margin-bottom: 22px;
}

.controls label{
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
  background-color: #fff;
  border: 3px solid #fff;
  font-size: 0;
  cursor: pointer;
}

.controls{
	position: absolute;
	top: 78%;
	left: 47%;
	z-index: 1;
}

#switch1:checked ~ .controls label[for="switch1"],
#switch2:checked ~ .controls label[for="switch2"]{
	background-color: #ee3643;
}

#switch1:checked ~ .slider .slider-slides{
	transform: translate(0);
}

#switch2:checked ~ .slider .slider-slides{
	transform: translate(-620px);
}

.slider-slides div::before{
	content: "";
	position: absolute;
	left: 25px;
	top: 115px;
	width: 24px;
	height: 41px;
	background: url(../img/icon-left.svg) no-repeat 0 0;
	z-index: 2;
}
.slider-slides div::after{
	content: "";
	position: absolute;
	right: 18px;
	top: 115px;
	width: 24px;
	height: 41px;
	background: url(../img/icon-right.svg) no-repeat 0 0;
	z-index: 2;
}

.promo-wrapper-1{
	display: flex;
	flex-wrap: wrap;
	width: 620px;
	margin-right: 20px;
}

.promo-wrapper-2{
	width: 300px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.promo-wrapper-2 div:nth-child(3){
	margin-bottom: 0;
}


.popular-wrapper{
	background-color: #f9f5f0;
	display: flex;
	align-items: center;
	margin-top: 21px;
}

.popular-wrapper h2{
	flex-grow: 1;
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	padding-left: 20px;
}

.popular-wrapper a{
	margin-right: 24px;
}

.main-popular-products{
	display: flex;
	justify-content: space-between;

}

.main-popular-products{
	padding-top: 20px;
}

.main-popular-products article{
	position: relative;
}


.brands-wrapper{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-bottom: 65px;
}

.brands{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid	#ebebeb;
	width: 218px;
	min-height: 143px;
	margin-top: 20px;
	margin-right: 20px;
}
.brands a{
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.brands:nth-child(4n){
	margin-right: 0;
}
.services{
	background-color: #f3f7f9;
}

.services-wrapper{
	margin: 0 auto;
	width: 940px;
}

.services h2{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 65px;
}

.services p{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 35px;
}

.services input[type="radio"]{
	display: none;
}

.service-wrapper-about{
	display: flex;
	position: relative;
}

.services-button{
	margin-bottom: 102px;
}

.services-button label{
	display: block;
	width: 240px;
	background-color: #32425c;
	color: #fff;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	cursor: pointer;
	border-bottom: 1px solid #293449;
	border-top: 1px solid #405069;
	padding-left: 22px;
	padding-top: 18px;
	padding-bottom: 18px;
}

.services-button::before{
	position: absolute;
	content: "";
	width: 10px;
	height: 272px;
	top: -12%;
	left: 27%;
	background: url(../img/layer_118.png) no-repeat 100% 100%;
}
.service-info{
	margin-left: 80px;
}

.service-about{
	display: none;
}

.service-about h3{
	margin-top: 0;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;;
	color: #32425c;
}

.service-info .service-about{
	width: 620px;
	position: absolute;
	top: 0;
}

.service-about p{
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	width: 380px;
	position: relative;
}

.service-about .button{
	margin-top: 30px;
}

.service-about:nth-child(1){
	background: url(../img/delivery.jpg) no-repeat;
}

.service-about:nth-child(2){
	background: url(../img/guarantee.jpg) no-repeat;
}

.service-about:nth-child(3){
	background: url(../img/credits.jpg) no-repeat;
}

#button-1:checked ~ .service-info .service-about:nth-child(1),
#button-2:checked ~ .service-info .service-about:nth-child(2),
#button-3:checked ~ .service-info .service-about:nth-child(3){
	display: block;
}

#button-1:checked ~ .services-button label[for="button-1"],
#button-2:checked ~ .services-button label[for="button-2"],
#button-3:checked ~ .services-button label[for="button-3"]{
	color: #32425c;
	background-color: #fff;
	border: none;
}



.about-block{
	width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;

}

.about-company{
	width: 540px;
	padding-top: 54px;
}

.about-company h2{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.about-company p{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.about-company li{
	font-size: 18px;
	line-height: 20px;
	list-style-type: none;
	padding-bottom: 19px;
}

.about-company li:before{
	content: "\2014";
}

.about-company a{
	display: inline-block;
	margin-bottom: 86px;
}

.contacts{
	padding-top: 54px;
	width: 300px;
	padding-left: 100px;
}

.contacts h2{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.contacts p{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.contact-map{
	display: inline-block;
	padding-top: 20px;
}

/*Footer*/


.footer-catalog li{
	list-style-type: none;
}

.footer-top{
	background-color: #32425c;
}

.footer-top-wrapper{
	width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-top p{
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;

}

.footer-logo img{
	background-color: #ee3643;
	padding: 13px 55px;
	border-bottom: 5px solid #b52933;
}

.footer-logo{
	display: inline-block;
	margin: 0;
}

.footer-nav-top{
	justify-content: flex-end;
	flex-wrap: wrap;
	display: flex;
}

.footer-nav-top li{
	margin-left: 58px;
}

.footer-nav-top a{
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;
}

.footer-nav-bottom{
	justify-content: flex-end;
	flex-wrap: wrap;
	display: flex;
}

.footer-nav-bottom li{
	margin-left: 58px;
}

.footer-nav-bottom a{
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.footer-bottom{
	background-color: #293449;
}

.footer-bottom-wrapper{
	width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.license{
	font-size: 16px;
	line-height: 18px;
	color: #fff;	
}

.feedback p{
	font-size: 16px;
	line-height: 18px;
	color: #fff;	
}

.feedback a{
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;	

}

.copyright p{
	font-size: 16px;
	line-height: 18px;
	color: #fff;	
}

.copyright a{
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;	
}

.social-footer{
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 132px;
}

.social-button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 41px;
	height: 41px;
	background-color: #212a3a;
	border-radius: 50%;
}

.social-button:hover,
.social-button:focus{
	background-color: #ee3643;
}
/*******************Каталог*******************/
.user-block{
	position: relative;
}

.user-block span{
	padding-left: 15px;
}

.user{
	color: #000;
	font-size: 21px;
	line-height: 21px;
	background-color: #fff;
	padding: 12px 68px 12px 46px;
	display: inline-block;
}

.user::before{
	content: "";
	position: absolute;
	width: 22px;
	height: 20px;
	top: 17%;
	left: 4%;
	background: url(../img/icon-user.svg) no-repeat 0 0;
}

.exit{
	position: absolute;
	content: "";
	width: 22px;
	height: 20px;
	background-color: red;
	top: 19%;
	left: 89%;
	background: url(../img/icon-logout.svg) no-repeat 0 0;
	font-size: 0;
}

.orders,
.personal{
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
	padding-left: 15px;
}

.orders a,
.personal a{
	display: inline-block;
}

.breadcrumbs{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
	list-style-type: none;
	padding-top: 19px;
}

.breadcrumbs a{
	display: inline-block;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
}

.breadcrumbs li{
	position: relative;
	margin-right: 24px;
}

.breadcrumbs li::after{
	content: "";
	position: absolute;
	width: 8px;
	height: 12px;
	top: 20%;
	left: 113%;
	background: url(../img/icon-right-small.svg) no-repeat;
}

.breadcrumbs li:last-child{
	margin-right: 0;
}

.home span{
	padding-left: 24px;
	font-size: 0;
}

.home span::before{
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	top: 18%;
	left: 0;
	background: url(../img/icon-home.svg) no-repeat 0 0;
	padding-right: 38px;
}

.tool::after{
	display: none;
}

.catalog-caption{
	background-color: #f2f6f8;
}

.catalog-caption h1{	
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	padding: 29px 28px;
}

/******Сортировка******/

.catalog-sort{
	background-color: #f7f3ec;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.catalog-sort p{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	margin-left: 18px;
}

.catalog-sort .sort-filter{
	display: flex;
	justify-content: flex-end;
	}

.catalog-sort li{
	list-style-type: none;
	position: relative;
}
.catalog-sort a{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	margin-left: 14px;
	margin-right: 14px;
	display: inline-block;
	color: #000;
	opacity: 0.4;
}

.sort-filter li{
	padding-left: 29px;
}

.sort-filter .active-sort{
	color: #ee3643;
	opacity: 1;
}

.catalog-sort a:not(.active-sort):not(.sort-up):not(.sort-down) {
	text-decoration: none;
	border-bottom: 1px dotted #ee3643;
}

.sort-up{
}
.sort-up span,
.sort-down span{
	font-size: 0;
	padding-left: 0;
}

.sort-up span::before{
	content: "";
	position: absolute;
	width: 12px;
	height: 10px;
	background: url(../img/icon-up-dir.svg) no-repeat 0 0;
	top:23%;
	left: 0;
}

.sort-down span::before{
	content: "";
	position: absolute;
	width: 12px;
	height: 10px;
	background: url(../img/icon-down-dir.svg) no-repeat 0 0;
	top:23%;
	left: 0;
}

.pagination a{
	margin-bottom: 60px;
}

.pagination a{
	display: inline-block;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	border: 1px solid	#e5e5e5;
	padding: 12px 15px;
	border-radius: 2px;

	}

	.pagination a:first-child{
		color: #fff;
	}

	.active{
	background-color: #ee3643;
	
}

.about-catalog{
	background-color: #f2f6f8;
	display: flex;
}

.about-catalog-wrapper{
	width: 940px;
	margin: 0 auto;
}

.about-catalog h2{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.about-catalog p{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	padding-bottom: 73px;
}

.catalog-product{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 700px;
	margin: 20px auto;
}

.catalog-product article{
	position: relative;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	display: inline-block;
	text-align: center;


}

.products{
	border: 1px solid	#eaeaea;
	width: 218px;
}

.products p{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
}

.discount {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #a9a9a9;
	text-decoration: line-through;
	text-align: center;
}
.price{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #fff;
	background-color: #ee3643;
	
}

/******Разметка товаров******/

.to-order li{
	list-style-type: none;
}


.products .actions{
	position: absolute;
	top: 0;
	left: 0;
	width:218px;
  height:88px;
  padding:40px 0;
  background-color:rgba(255,255,255,0.9);
  z-index:10;
}

.products .buy,
.products .bookmarks,{
	display:block;
  width:129px;
  margin:0 auto;
  margin-bottom:7px;
  padding:7px 0;
  border:3px solid #63a63e;
  border-bottom-color:#367315; 
  background-color:#63a63e;
  color:white;
  font-size:14px;
  font-weight:normal;
  font-family:"Cuprum", sans-serif;
  line-height:18px;
  text-decoration:none;
  text-transform:uppercase;    
  border-radius:3px;
}

.products .bookmarks li{
	color: #32425c;
	background-color: #fff;
	border-bottom-color: #53a63e;
}

.products .actions{
  display:none;
}
.products:hover .actions{
  display:block;
}


.products .actions{
	display: none;
}

.catalog-content-wrapper{
	display: flex;
}

.flag{
	position: absolute;
	top:-1px;
	right: -1px;
	width: 60px;
	height: 60px;
	overflow: hidden;
	text-indent: -1000px;
}

.new-flag{
	background: url(../img/new-flag.png) no-repeat 0 0;
}

.products .image{
	width: 218px;
	height: 156px;
}

.products .image img{
	min-width: 100%;
}

.products .title{
	max-height: 40px;
	padding: 0 25px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.products .discount{
	min-height: 20px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.products .price{
	position: relative;
	width: 80px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 11px 30px;
	border-radius: 3px;
}

.products .price:after{
	content:"";
  position:absolute;
  top:0;
  right:-20px;
  width:0;
  height:0;
  border:20px solid white;
  border-left-color:#ee3643;
}

.products:nth-child(3n){
  margin-right:0;
}

/******Фильтр*******/

.filter{
	width: 220px;
	margin-right: 20px;
	font-family: "PT Sans", "Arial", sans-serif;
}

.filter p{
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #f7f3ec;
	margin: 0;
	border-radius: 3px;
	padding: 14px 18px;
}

.price-filter{
	margin: 0;
	padding: 0;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 25px;
}

.price-filter legend{
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 19px;
	padding-top: 19px;
}

.range-controls{
	position: relative;
	height: 41px;
	padding-top: 39px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f7f3ec;
	margin-bottom: 9px;
}

.range-controls .scale{
	height: 2px;
	background-color: #d7dcde;
}

.range-controls .bar{
	height: 2px;
	width: 75%;
	background-color: #00ca74;
}

.range-controls .toggle{
	height: 4px;
	width: 4px;
	border: 8px solid #fff;
	background-color: #ababab;
	padding: 0;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	position: absolute;
	top: 31px;
	left: 0;
	cursor: pointer;
}

.range-controls .toggle-min{
	left: 18px;
}

.range-controls .toggle-max{
	left: 148px;
}

.input-price{
	font-size: 0;
}

.input-price input{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	width: 95px;
	margin-left: 0;
	padding: 8px 10px;
	outline: none;
	background: #f7f3ec;
	box-sizing: border-box;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
}

.input-price span{
	display: inline-block;
	font-size: 16px;
	width: 30px;
	text-align: center;
	color: #283136;
}

.brand-filter{
	margin: 0;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}

.brand-filter legend{
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 21px;
	padding-top: 21px;
}

.input-brands label{
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	font: inherit;
	padding-bottom: 17px;
	padding-left: 35px;
}

.input-brands input{
	display: none;
}

.checkbox-brands{
	position: relative;
	cursor: pointer;
	display: block;
}

.filter-input-checkbox + label::before{
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	background: url(../img/checkbox-off.svg) no-repeat;
	top: 0;
	left: 0;
}

.filter-input-checkbox:hover + label::before{
	fill: #b5b5b5;
}

.filter-input-checkbox:checked + label::after{
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	background: url(../img/checkbox-on.svg) no-repeat;
	top: 0;
	left: 0;
	z-index: 1;
}

.power-filter{
	margin: 0;
	border: none;
	padding-bottom: 75px;
}

.power-filter legend{
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 21px;
	padding-top: 21px;
}

.input-power input{
	display: none;
}

.input-power label{
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	padding-bottom: 17px;
	padding-left: 35px;
}

.power-radio{
	position: relative;
	cursor: pointer;
	display: block;
}

.filter-input-radio + label::before{
	position: absolute;
	content: "";
	width: 17px;
	height: 17px;
	background-color: #fff;
	border: 3px solid #c5c5c5;
	top: 0;
	left: 0;
	border-radius: 50%;
}

.filter-input-radio:checked + label::after{
	position: absolute;
	content: "";
	width: 9px;
	height: 9px;
	background-color: #c5c5c5;
	top: 7px;
	left: 7px;
	border-radius: 50%;
}

.filter-input-radio:hover + label:before{
	background-color: #fff;
	border: 3px solid #b5b5b5;
}

.filter button[type="submit"]{
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	text-align: center;
	min-width: 140px;
	background-color: #fff;
	padding-top: 11px;
	padding-bottom: 11px;
}

/******Модальные окна******/
.modal{
	width: 940px;
	margin: 0 auto;
	position: fixed;
	color: #000;
}

.modal-write{
	width: 620px;
	top:50%;
	left: 50%;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.7);
	margin-left: -303px;
	margin-top: -101px;
	display: none;
}

.modal-write-close{
	position: absolute;
	width: 23px;
	height: 23px;
	border: none;
	cursor: pointer;
	font-size: 0;
	top: 3%;
	left: 95%;
	background: url(../img/form-2.svg) no-repeat 0 0;
}

.write-us{
	border-top: 7px solid #ff5357;
	background-color: #fff;
}

.write-us-wrapper{
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 456px;
  margin: 0 auto;
  padding-bottom: 37px;
}

.name,
.e-mail{
	display: block;
	width: 80px;
	color: #000;
	font-size: 18px;
	line-height: 18px;
	padding-top: 45px;
	padding-bottom: 10px;
}

.message {
  font-size: 18px;
  line-height: 18px;
  color: #000;
  padding-top: 19px;
}

.write-us input[type="text"]{
	width: 216px;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	border: 2px solid	#d7dcde;
	border-radius: 3px;
	padding: 10px 0 10px 13px;
}
.write-us textarea{
	width: 456px;
	height: 34px;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	border: 2px solid	#d7dcde;
	border-radius: 3px;
	padding: 10px 0 10px 13px;
	resize: none;
}

.send-off{
	background-color: #f4f4f4;
}
.send-off button{
	width: 460px;
	border: none;
	margin: 37px 80px;
}

.modal-information{
	display: flex;
	justify-content: space-between;
	width: 330px;
}

.modal-map{
	width: 940px;
	height: 446px;
	top: 50%;
	left: 50%;
	margin-left: -470px;
	margin-top: -280px;
	box-shadow: 0 8px 50px 06px rgba(0, 0, 0, 0.7);
	font-size: 0;
	display: none;
}

.map-close{
	position: absolute;
	width: 23px;
	height: 23px;
	border: none;
	cursor: pointer;
	font-size: 0;
	top: 2%;
	left: 97%;
	background: url(../img/form-2.svg) no-repeat 0 0;
}