body{
	font-family: "Cuprum", "Arial", sans-serif;
	min-width:  940px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.container{
	width: 940px;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: #000;
	margin: auto;


}

.button{
	display: inline-block;
	background-color: #ee3643;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 14px 49px;
}


/*Стилизация Header*/
.header-top{
	background-color: #293449;
	font-size: 0;
}

.header-top-wrapper{
	background-color: #293449;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.main-header-logo img{
	background-color: #ee3643;
	padding: 13px 55px;
	border-bottom: 5px solid #b52933;
}

.main-header-logo{
	margin: 0;
}

.header-top a{
	color: #fff;
	font-size: 17px;
	text-decoration: none;
}

.basket-product{
	background-color: #ee3643;
}

.place-order{
	background-color: #63a63e;
}

.header-bottom{
	background-color: #f3f7f9;
}

.header-bottom-information{
	width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-description{
	color: #ee3643;
	line-height: 23px;
	font-size: 16px;
	text-align: left;
	font-style: italic;
	width: 200px;
}

.header-telephone a{
	font-size: 21px;
	border: 3px solid #fff;
	color: #ee3643;
	padding: 12px 50px 12px 72px;

}

.header-telephone p{
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	font-weight: normal;
}

.user-navigation li{
	list-style-type: none;
	background-color: #fff;
	display: inline-flex;
}

.login a{
	font-size: 21px;
	line-height: 21px;
	padding: 10px 24px 10px 47px;
}

.registration{
	font-size: 21px;
	line-height: 21px;
	padding: 10px 24px;
	margin-left: 10px;
}

.site-navigation {
	background-color: #32425c;
	min-height: 55px;
	margin: auto;
	border-bottom: 5px solid	#293449;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.site-navigation li{
	list-style-type: none;

}

.site-navigation a{
	color: #fff;
	font-size: 17px;
	line-height: 17px;
}

/*Верстка контента*/
.visually-hidden{
	font-size: 0;
}

.promo-1,
.promo-2,
.promo-3,
.promo-4,
.promo-5{
	box-sizing: border-box;
	color: #fff;
	line-height: 30px;
	font-size: 24px;
	font-weight: bold;
	padding-left: 22px;
	padding-top: 24px;
	padding-bottom: 15px;
	box-shadow: border-box;
}

.promo-1 a,
.promo-2 a,
.promo-3 a,
.promo-4 a,
.promo-5 a{
	display: inline-block;
	color: #fff;
	line-height: 18px;
	font-size: 14px;
	background-color: rgba(0,0,0,0.15);
	border-radius: 2px;
	padding: 12px 24px;
}
.promo{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;

}
.promo-1{
	
	width: 278px;
	background-color: #ffbf47;
}


.promo-2{
	
	width: 278px;
	background-color: #3bbce3;
}

.promo-3{
	
	width: 278px;
	background-color: #dc91d8;
}

.slide-1{
	
	color: #fff;
	float: left;
	width: 620px;
	background-image: url(../img/slider1.jpg);
	margin: 10px 10px 10px 0;
}

.promo-4{
	width: 278px;
	background-color: #8ed78f;
}

.promo-5{
	width: 278px;
	background-color: #ffc047;
}



.slide-2{
	width: 620px;
	float: left;
	background-image: url(../img/slider2.jpg.jpg);
}


/* Здесь слайдер*/


.slides-tittle{
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

.slides-text{
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.popular-wrapper{
	background-color: #f9f5f0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 21px;
}

.popular-productsa,
.popular-wrapper a{
	margin-right: 24px;
}
.popular-wrapper h2{
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	padding-left: 20px;
}

.main-popular-products{
	display: flex;
	justify-content: space-between;
}

.products{
	border: 1px solid	#eaeaea;
	width: 218px;
	margin-top: 20px;
}

.products p{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
}

.discount {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #a9a9a9;
	text-decoration: line-through;
	text-align: center;
}
.price{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #fff;
	background-color: #ee3643;
	text-align: center;
}

.to-order li{
	list-style-type: none;
}

li .buy{
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	background-color: #63a63e;
	border-radius: 2px;
	box-shadow: 0 3px 0 0 #367315;
	text-transform: uppercase;
}

li .bookmarks{
	font-size: 14px;
	line-height: 18px;
	color: #32425c;
	text-transform: uppercase;
	border: 3px solid #63a63e;
	border-radius: 2px;
}

.brands-wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.brands{
	border: 1px solid	#ebebeb;
	width: 220px;
	height: 143px;
	margin-top: 20px;
}
.brands a{
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.services{
	background-color: #f3f7f9;
}

.services-wrapper{
	margin: 0 auto;
	width: 940px;
}

.services h2{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.services p{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
}

.service-about h3{
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;;
	color: #32425c;
}

.about-block{
	width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.about-block a{
	margin-bottom: 86px;
	margin-top: 40px;
}


.about-company h2{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.about-company p{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.about-company li{
	font-size: 18px;
	line-height: 20px;
	list-style-image: url("../img/layer-23.png");
	vertical-align: middle;

}

.contacts h2{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.contacts p{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

/*Footer*/


.footer-catalog li{
	list-style-type: none;
}

.footer-top{
	background-color: #32425c;
}

.footer-top-wrapper{
	width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-top p{
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;

}

.footer-logo img{
	background-color: #ee3643;
	padding: 13px 55px;
	border-bottom: 5px solid #b52933;
}

.footer-logo{
	margin: 0;
}

.footer-nav-top{
	justify-content: flex-end;
	flex-wrap: wrap;
	display: flex;
}

.footer-nav-top li{
	margin-left: 58px;
}

.footer-nav-top a{
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;
}

.footer-nav-bottom{
	justify-content: flex-end;
	flex-wrap: wrap;
	display: flex;
}

.footer-nav-bottom li{
	margin-left: 58px;
}

.footer-nav-bottom a{
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.footer-bottom{
	background-color: #293449;
}

.footer-bottom-wrapper{
	width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.license{
	font-size: 16px;
	line-height: 18px;
	color: #fff;	
}

.social-button{
background-color: #212a3a;
}

.feedback p{
	font-size: 16px;
	line-height: 18px;
	color: #fff;	
}

.feedback a{
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;	

}

.copyright p{
	font-size: 16px;
	line-height: 18px;
	color: #fff;	
}

.copyright a{
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;	
}

/*Каталог*/

.user{
	font-size: 21px;
	line-height: 21px;
	background-color: #fff;
	padding: 12px 68px 12px 46px;
	display: inline-block;
}

.orders,
.personal{
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.breadcrumbs{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.breadcrumbs li{
	list-style-type: none;
	margin-right: 40px;
}

.breadcrumbs a{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.catalog-caption{
	background-color: #f2f6f8;
}

.catalog-caption h1{	
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	padding: 29px 28px;

}

.catalog-sort{
	background-color: #f7f3ec;
	display: flex;
	justify-content: space-between;
}
.catalog-sort ul{
	display: flex;
	justify-content: flex-end;
	}

.catalog-sort p{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	margin-left: 18px;
}

.catalog-sort li{
	list-style-type: none;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	margin-left: 15px;
	margin-right: 15px;

}

.active-sort{
	color: #ee3643;
}

.catalog-sort a:not(.active-sort):not(.sort-up):not(.sort-down) {
	text-decoration: none;
	border-bottom: 1px dotted #ee3643;
	color: #acaaa5;
}

.pagination{
	margin-top: 52px;
	display: inline-block;
}


.pagination a{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	border: 1px solid	#e5e5e5;
	padding: 12px 15px;
	border-radius: 2px;

	}

	.pagination a:first-child{
		color: #fff;
	}

	.active{
	background-color: #ee3643;
	
}

.about-catalog{
	background-color: #f2f6f8;
	display: flex;
}

.about-catalog-wrapper{
	width: 940px;
	margin: 0 auto;
}

.about-catalog h2{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.about-catalog p{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	padding-bottom: 73px;
}

.catalog-product{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.catalog-product article{
	margin-right: 20px;
}


.catalog-content-wrapper{
	display: flex;
}

.filter{
	width: 220px;
	margin-right: 20px;
}